body {
  background-color: gray;
  background-image: url("https://images8.alphacoders.com/702/702959.jpg");
  background-size: cover;
}

.center {
	text-align: center;
}

.footer {
	margin-top: 20px;
}

.container {
	background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid #e3e3e3;
    border-radius: 4px;
    width: auto;
    max-width: 1000px;
    padding: 20px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
    margin-bottom: 20px;
    margin: 0 auto;
}

.stream-container {
    padding: 10px;
}

.statusStyle {
    text-align: left;
    padding-left: 20px;
}

.iconStyle {
    margin-right: 20px;
    vertical-align: middle;
}

.red {
    fill: #F44336;
}

.green {
    fill: #8BC34A;
}